# IDE specific folders
.idea/
.vscode/
*.eclipse/
*.sts/
.metadata/

# IDE Folders
*.iml

# Compiled class files and Maven targets
target/
*.class
*.jar
*.war

# Log files
*.log

# Docker/Tempo data volumes
tempo-data/
grafana-data/

# Environment & Secrets (NEVER push these)
*.env
application-local.yml